





@font-face {
    font-family: MCD;
    src: url(../assets/Fonts/Corporate\ A\ Bold.otf);
}

html{
    scroll-behavior: smooth;
}


body{
    height: 3000px;

}


nav ul:hover li > a{
    color: gray;
}

nav ul li > a:hover{
    color: #fff;
    
}





